<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Expedientes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    </head>
    <body>


        <div id="root">

            <div class="">
                <div class="crud_header">
                    <h1 class="left">EXPEDIENTES</h1>
                    <div v-if="showingNoLogueado">
                        <button class="right addnew" @click="showingLogin = true;">Login</button>
                        <button class="right addnew" @click="showingDireccion = true;">Registrarse</button>
                    </div>
                    <div  v-if="showingAdministrador">
                        <p class="right addnew">{{usuarioLogueado.usuario}}</p>
                        <button class="right addnew" @click="showingAdministrador = false;showingNoLogueado=true;">Salir</button>
                        <button class="right addnew" @click="showingNuevoExpediente = true;reseteaNewExpediente();">Nuevo Expediente</button>
                    </div>
                    <div v-if="showingAdministrativo">
                        <p class="right addnew">{{usuarioLogueado.usuario}}</p>
                        <button class="right addnew" @click="showingAdministrativo=false;showingNoLogueado=true;">Salir</button>
                        <button class="right addnew" @click="showingNuevoExpediente=true;reseteaNewExpediente();">Nuevo Expediente</button>
                    </div>
                    <div  v-if="showingTecnico">
                        <p class="right addnew">{{usuarioLogueado.usuario}}</p>
                        <button class="right addnew" @click="showingTecnico=false;showingNoLogueado=true;">Salir</button>

                    </div>

                    <div class="fix"></div>
                </div>

                <hr>
                <p class="errorMessage" v-if="errorMessage">{{errorMessage}}</p>
                <p class="successMessage" v-if="successMessage">{{successMessage}}</p>
                <!--Expedientes ids-->
                <table class="list" v-if="showingExpedientes">
                    <tr>
                        <th>ID</th>
                        <th>Urgente</th>
                        <th>Tipo</th>
                        <th>fecha</th>
                        <th>Numero</th>
                        <th>Titular</th>
                        <th>Direccion</th>
                        <th>Proyectista</th>
                        <th>Calificacion</th>
                        <th>IAE</th>
                        <th>Estado</th>
                        <th>Descripcion</th>
                    </tr>
                    <tr v-for="expediente in expedientes">
                        <td>{{expediente.id}}</td>
                        <td>{{expediente.urgente}}</td>
                        <td>{{expediente.tipo}}</td>
                        <td>{{expediente.fecha}}</td>
                        <td>{{expediente.numero}}</td>
                        <td>{{expediente.titular}}</td>
                        <td>{{expediente.direccion}}</td>
                        <td>{{expediente.proyectista}}</td>
                        <td>{{expediente.calificacion}}</td>
                        <td>{{expediente.iae}}</td>
                        <td>{{expediente.estado}}</td>
                        <td>{{expediente.descripcion}}</td>
                        <td v-if="(showingAdministrador || showingAdministrativo)"><button  @click="showingEditarExpediente = true; selectExpediente(expediente)">Editar</button></td>
                        <td v-if="(showingAdministrador || showingAdministrativo)"><button  @click="showingDeleteExpediente = true; selectExpediente(expediente)" >Eliminar</button></td>
                        <td v-if="(showingTecnico || showingAdministrador)"><button  @click="showingCalificar=true;setNewCalificacion(expediente);selectExpediente(expediente)">Calificar</button></td>
                    </tr>
                </table>

                <!--Calificar -->
                <div class="modalmedium col-md-6" id="calificar" v-if="showingCalificar">
                    <div class="modalheading">
                        <p class="left">Calificar</p>
                        <p class="right close" @click="showingCalificar = false;">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontent">
                            <table class="form">
                                <tr>
                                    <th>Expediente</th>
                                    <th>:</th>
                                    <td><input type="text" placeholder="Numero expediente" v-model="newCalificacion.idExpediente" redonly></td>
                                </tr>
                                <tr>
                                    <th>Calificación</th>
                                    <th>:</th>
                                    <td>
                                        <select>
                                            <option >Please select one</option>
                                            <option v-for="c in calificaciones"  @click="setNewCalificacionIdCalificaciones(c)">{{c.calificacion}}</option>
                                        </select>
                                    </td>
                                </tr>
                                
                            </table>
                            <div class="margin"></div>
                            <table class="margin_left">
                                    <td > <button class="center"  @click="showingCalificar = false; calificar()">Enviar</button></td>
                            </table> 
                            <div class="margin"></div>
                        </div>
                    </div>
                </div>
                <!--Registrarse Direccion-->
                <div class="modalmedium col-md-6" id="direccion" v-if="showingDireccion">
                    <div class="modalheading">
                        <p class="left">Añade Dirección</p>
                        <p class="right close" @click="showingDireccion = false;">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontentregistro">
                            <table class="form">
                                <tr>
                                    <th>Pais</th>
                                    <th>:</th>
                                    <td>
                                        <select  v-model="pais.pais">
                                            <option >Please select one</option>
                                            <option v-for="p in paises"  @click="getProvincias(p)">{{p.pais}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Provincia</th>
                                    <th>:</th>
                                    <td>
                                        <select v-model="provincia.provincia" style="width: 200px; float: left;" onchange="this.nextElementSibling.value = this.value">
                                            <option style="font-size-adjust:  8px">Please select one</option>
                                            <option v-for="p in provincias" @click="getMunicipios(p);getLocalidades(p); setProvincia(p)" >{{p.provincia}}</option>
                                        </select>
                                        <input style="width: 175px; margin-left: -199px; margin-top: 1px; border: none; float: left;" v-model="provincia.provincia"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Municipio</th>
                                    <th>:</th>
                                    <td>
                                        <select v-model="municipio.municipio" style="width: 200px; float: left;" onchange="this.nextElementSibling.value = this.value">
                                            <option style="font-size-adjust:  8px">Please select one</option>
                                            <option v-for="m in municipios" @click="setMunicipio(m)" >{{m.municipio}}</option>
                                        </select>
                                        <input style="width: 175px; margin-left: -199px; margin-top: 1px; border: none; float: left;" v-model="municipio.municipio"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Localidad</th>
                                    <th>:</th>
                                    <td>
                                        <select v-model="localidad.localidad" style="width: 200px; float: left;" onchange="this.nextElementSibling.value = this.value">
                                            <option style="font-size-adjust:  8px">Please select one</option>
                                            <option v-for="l in localidades" @click="setLocalidad(l)" >{{l.localidad}}</option>
                                        </select>
                                        <input style="width: 175px; margin-left: -199px; margin-top: 1px; border: none; float: left;" v-model="localidad.localidad"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Cod. Postal</th>
                                    <th>:</th>
                                    <td>
                                        <input v-model="direccion.codPostal"  required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Dirección</th>
                                    <th>:</th>
                                    <td>
                                        <input v-model="direccion.direccion"  required></input>
                                    </td>
                                </tr>

                            </table>
                            <div class="margin"></div>
                            <table >
                                <tr class="margin_left">
                                    <td><button class="center"  @click="showingPersona = true; showingDireccion = false;">Siguiente</button></td>
                                    <td><button class="center"  @click="showingDireccion = false; añadirDireccion();">Grabar</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Registrarse Persona -->
                <div class="modalmedium col-md-6" id="persona" v-if="showingPersona">
                    <div class="modalheading">
                        <p class="left">Datos Personales</p>
                        <p class="right close" @click="showingPersona = false;">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontentregistro">
                            <table class="form">
                                <tr>
                                    <th>Dni</th>
                                    <th>:</th>
                                    <td>
                                        <input v-model="persona.dni" placeholder="11.111.111-a" required="required"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <th>:</th>
                                    <td>
                                        <input v-model="persona.nombre" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Direccion</th>
                                    <th>:</th>
                                    <td>
                                        <input v-model="direccion.direccion" readonly required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <th>:</th>
                                    <td>
                                        <input type="email" v-model="persona.email" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Teléfono</th>
                                    <th>:</th>
                                    <td>
                                        <input  v-model="persona.telefono" required></input>
                                    </td>
                                </tr>


                            </table>
                            <table  class="margin_left">
                                <tr>
                                    <td><button class="center"  @click="showingDireccion = true;showingPersona = false;">Atras</button></td>
                                    <td><button class="center"  @click="showingPersona = false; añadirPersona();">Grabar</button></td>
                                    <td><button class="center"  @click="showingPersona = false; showingUsuario = true;">Siguiente</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Usuario -->
                <div class="modalmedium col-md-6" id="login" v-if="showingUsuario">
                    <div class="modalheading">
                        <p class="left">Nuevo Usuario</p>
                        <p class="right close" @click="showingUsuario = false; ">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontent">
                            <table class="form">
                                <tr>
                                    <th>Usuario</th> 
                                    <th>:</th>
                                    <td><input type="text" placeholder="Usuario" v-model="newUsuario.usuario"></td>
                                    <td><select><option style="font-size-adjust:  8px" v-for="tipo in tipoUsuarios" @click="setIdTipoUsuario(tipo.id)">{{tipo.tipo}}</option></select></td>
                                </tr>
                                <tr>
                                    <th>Contraseña</th>
                                    <th>:</th>
                                    <td><input type="password" placeholder="Password"  v-model="newUsuario.contraseña"></td>
                                </tr>
                            </table>
                            <table  class="margin_left">
                                <tr>
                                    <td> <button class="center"  @click="showingUsuario = false; grabarUsuario()">Grabar</button></td>
                                    <td> <button class="center"  @click="showingUsuario = false; showingPersona= true">Volver</button></td>
                                </tr>

                            </table>
                            <div class="margin"></div>
                        </div>
                    </div>
                </div>

                <!--Loguearse -->
                <div class="modalmedium col-md-6" id="login" v-if="showingLogin">
                    <div class="modalheading">
                        <p class="left">Login</p>
                        <p class="right close" @click="showingLogin = false;">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontent">
                            <table class="form">
                                <tr>
                                    <th>Usuario</th>
                                    <th>:</th>
                                    <td><input type="text" placeholder="Usuario" v-model="login.usuario"></td>
                                </tr>
                                <tr>
                                    <th>Contraseña</th>
                                    <th>:</th>
                                    <td><input type="password" placeholder="Password"  v-model="login.contraseña"></td>
                                </tr>
                            </table>
                            <table  class="margin_left">
                                <tr>
                                    <td> <button class="center"  @click="showingLogin = false; comprobarLogin()">Enviar</button></td>
                                </tr>
                            </table>
                            <div class="margin"></div>
                        </div>
                    </div>
                </div>

                <!--Añadir nuevo expediente -->

                <div class="modalheight col-md-6" id="addmodal" v-if="showingNuevoExpediente">
                    <div class="modalheading">
                        <p class="left">Añade nuevo expediente</p>
                        <p class="right close" @click="showingNuevoExpediente = false;">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontent">
                            <table class="form">
                                <tr>
                                    <th>Urgente</th>
                                    <th>:</th>
                                    <td><select v-model="newExpediente.idUrgente" required><option v-for="u in urgentes"   v-bind:value="u.id">{{u.urgente}}</select></td>
                                </tr>
                                <tr>
                                    <th>TipoExpediente</th>
                                    <th>:</th>
                                    <td><select><option v-for="t in tipoExpedientes" @click="setNewExpedienteIdTipoExpediente(t)">{{t.tipo}}</select></td>
                                   
                                </tr>
                                <tr>
                                    <th>Fecha</th>
                                    <th>:</th>
                                    <td><input type="date" v-model="newExpediente.fecha" required></td>
                                </tr>
                                <tr>
                                    <th>Titular</th>
                                    <th>:</th>
                                    <td><select><option v-for="t in titulares" @click="setNewExpedienteIdTitular(t)">{{t.nombre}}</select></td>
                                </tr>
                                <tr>
                                    <th>Direccion</th>
                                    <th>:</th>
                                    <td><select><option v-for="d in direcciones" @click="setNewExpedienteIdDireccion(d)">{{d.direccion}}</select></td>
                                </tr>
                                <tr>
                                    <th>Proyectista</th>
                                    <th>:</th>
                                    <td><select><option v-for="p in proyectistas" @click="setNewExpedienteIdProyectista(p)">{{p.nombre}}</select></td>
                                </tr>
                                <tr>
                                    <th>IAE</th>
                                    <th>:</th>
                                    <td><select><option v-for="c in IAEs" @click="setNewExpedienteIdIAE(c)">{{c.denominacion}}</select></td>
                                </tr>
                                <tr>
                                    <th>Descripcion</th>
                                    <th>:</th>
                                    <td><textarea rows="2" cols="50" placeholder="Descripcion" v-model="newExpediente.descripcion"></textarea></td>
                                </tr>
                            </table>
                            <div class="margin"></div>
                            <table  class="margin_left">
                                <tr>
                                    <td><button class="center"  @click="showingNuevoExpediente = false; creaExpediente();" >Enviar</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Editar expediente -->

                <div class="modal col-md-6" id="addmodal" v-if="showingEditarExpediente">
                    <div class="modalheading">
                        <p class="left">Edita expediente</p>
                        <p class="right close" @click="showingEditarExpediente = false;">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontent">
                            <table class="form">
                                <tr>
                                    <th>IdUrgente</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdUrgente" v-model="expediente.idUrgente"></td>
                                </tr>
                                <tr>
                                    <th>IdTipoExpediente</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdTipoExpediente" v-model="expediente.idTipoExpediente"></td>
                                </tr>
                                <tr>
                                    <th>Fecha</th>
                                    <th>:</th>
                                    <td><input type="date" placeholder="2001-01-01" v-model="expediente.fecha"></td>
                                </tr>
                                <tr>
                                    <th>IdTitular</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdTitular" v-model="expediente.idTitular"></td>
                                </tr>
                                <tr>
                                    <th>IdDireccion</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdDireccion" v-model="expediente.idDireccion"></td>
                                </tr>
                                <tr>
                                    <th>IdProyectista</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdProyectista" v-model="expediente.idProyectista"></td>
                                </tr>
                                <tr>
                                    <th>IdCalificacion</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdCalificacion" v-model="expediente.idCalificacion"></td>
                                </tr>
                                <tr>
                                    <th>IdIAE</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdIAE" v-model="expediente.idIAE"></td>
                                </tr>
                                <tr>
                                    <th>IdEstado</th>
                                    <th>:</th>
                                    <td><input type="number" placeholder="IdEstado" v-model="expediente.idEstado"></td>
                                </tr>
                                <tr>
                                    <th>Descripcion</th>
                                    <th>:</th>
                                    <td><input type="text" placeholder="Descripcion" v-model="expediente.descripcion"></td>
                                </tr>
                            </table>
                            <div class="margin"></div>
                            <button class="center"  @click="showingEditarExpediente = false; updateExpediente();" >Actualiza Expediente</button>
                            <div class="fix"></div>
                        </div>
                    </div>
                </div>

                <!-- Eliminar expediente -->
                <div class="modalmedium col-md-6" id="deleteExpediente" v-if="showingDeleteExpediente">
                    <div class="modalheading">
                        <p class="left">Eliminar Expediente</p>
                        <p class="right close" @click="showingDeleteExpediente = false;">x</p>
                        <div class="fix"></div>
                    </div>
                    <div class="modalbody">
                        <div class="modalcontent">

                            <div class="margin"></div>
                            <h3 class="center">Are you sure to Delete?</h3>
                            <div class="margin"></div>
                            <h4 class="center">{{expediente.numero}}</h4>
                            <div class="margin"></div>
                            <div class="margin_left">
                                <button class="warning" @click="showingDeleteExpediente = false; deleteExpediente()">YES</button>
                                <button  @click="showingDeleteExpediente = false;">NO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>


    </body>
</html>
